.row.gutter_bottom
    .col-md-7
        header.main__header
            h1.main__caption Завершённые

        .main__left
            table.table.accidentList
                tr.table__row.accidentList__item(
                    ng-repeat='accident in listCtrl.accidents'
                    ui-sref='closed({id: accident.id})'
                    ui-sref-active='accidentList__item_active'
                )
                    td.table__cell.text_center {{$index+1}}.
                    td.table__cell.accidentList__address {{accident.address}}
                    td.table__cell.accidentList__icon.text_right
                        div

    .col-md-5
        header.main__header
            button.button.button_sm.flex__item_end(ui-sref='accidents.create') ДОБАВИТЬ АВАРИЮ

        .main__right.text_center
            .form
                input.form__input(
                    placeholder='Фамилия'
                    ng-model='listCtrl.editable.victim.lastName'
                    name='last_name'
                )
                input.form__input(
                    placeholder='Имя'
                    ng-model='listCtrl.editable.victim.firstName'
                    name='first_name'
                )
                input.form__input(
                    placeholder='Отчество'
                    ng-model='listCtrl.editable.victim.middleName'
                    name='middle_name'
                )
                input.form__input(
                    placeholder='Марка автомобиля'
                    ng-model='listCtrl.editable.victim.carBrand'
                    name='car_brand'
                )
                input.form__input(
                    placeholder='Номер автомобиля'
                    ng-model='listCtrl.editable.victim.carNumber'
                    name='car_number'
                )
                input.form__input(
                    placeholder='Телефон'
                    ng-model='listCtrl.editable.victim.phone'
                    name='phone'
                )

                hr

                input.form__input(
                    placeholder='Фамилия'
                    ng-model='listCtrl.editable.culprit.lastName'
                    name='last_name'
                )
                input.form__input(
                    placeholder='Имя'
                    ng-model='listCtrl.editable.culprit.firstName'
                    name='first_name'
                )
                input.form__input(
                    placeholder='Отчество'
                    ng-model='listCtrl.editable.culprit.middleName'
                    name='middle_name'
                )
                input.form__input(
                    placeholder='Марка автомобиля'
                    ng-model='listCtrl.editable.culprit.carBrand'
                    name='carBrand'
                )
                input.form__input(
                    placeholder='Номер автомобиля'
                    ng-model='listCtrl.editable.culprit.carNumber'
                    name='carBrand'
                )
                input.form__input(
                    placeholder='Телефон'
                    ng-model='listCtrl.editable.culprit.phone'
                    name='phone'
                )

                button.button.button_lg(ng-click='listCtrl.editAccident()') СОХРАНИТЬ
