.hero
  include ../mainHeader/mainHeader

  .hero__container.container
    h1.hero__header.hero__header_1 Первое мобильное приложение на iOS и Android
      br.hidden-md-down
      = ' '
      | для аварийных комиссаров

    h2.hero__header.hero__header_2 Обрабатывайте от 150 до 300
      = ' '
      b холодных заявок
      = ' '
      | в день
      br.hidden-md-down
      = ' '
      | в Вашем смартфоне онлайн

    .row
      .col-lg-4.offset-lg-1
        h3.hero__header.hero__header_3 Хотите оперативно реагировать на заявки и проезжать по ним быстрее других? Оставьте контакты и получите бесплатный демодоступ на 1 неделю

        .row
          .col-10.offset-1.col-sm-12.offset-sm-0.col-md-8.offset-md-2
            form.form(
              name='feedbackForm'
              novalidate
              ng-submit='mainCtrl.submitted = true; feedbackForm.$valid && mainCtrl.submitFeedback(feedbackForm)'
            )
              .row
                .col-md-12
                  .form__group.form__group_lg.margin_bottom_half
                    input.form__input(
                      ng-model='mainCtrl.email'
                      name='email'
                      type='email'
                      placeholder='Введите E-mail'
                      required
                    )
                  ng-messages(for='feedbackForm.email.$error' ng-if='mainCtrl.interacted(feedbackForm.email)')
                    p.form__message.form__message_error(ng-message='required') Укажите email адрес
                    p.form__message.form__message_error(ng-message='email') Укажите корректный email
                .col-md-12
                  .form__group.form__group_lg.margin_bottom_half
                    input.form__input(
                      ng-model='mainCtrl.phone'
                      name='phone'
                      placeholder='Введите телефон'
                      required
                    )
                  ng-messages(for='feedbackForm.phone.$error' ng-if='mainCtrl.interacted(feedbackForm.phone)')
                    p.form__message.form__message_error(ng-message='required') Укажите телефон для связи
                .col-md-12
                  button.button.button_underlined.button_block.button_lg Получить доступ
      .col-lg-7.text_center
        .row.padding_vertical
          .hidden-md-down.col-lg-6.offset-lg-3
            img(src='images/3-phones.png')

        .row.padding_bottom_half
          .col-6.text_right
            a(href='https://itunes.apple.com/us/app/centr-ak/id1189530284')
              img(src='images/app-store.png' height='50')
          .col-6.text_left
            a(href='https://play.google.com/store/apps/details?id=centr.ru.crashservice' target='_blank')
              img(src='images/google-play.png' height='50')
