.row.padding_vertical
  .filters.col-md-12
    a.filters__item.button.button_grey.margin_bottom_half(
      ui-sref='cabinet.account'
      ui-sref-active='button_lightgrey'
    ) Личные данные
    a.filters__item.button.button_grey.margin_bottom_half(
      id='intro-step-cabinet-users'
      ui-sref='cabinet.users'
      ui-sref-active='button_lightgrey'
    ) Пользователи

  .col-md-12
    .dashboard__section
      ui-view
