header.dashboard__header
    button.button.button_sm.flex__item_end(ui-sref='dashboard.accidents') ДОБАВИТЬ АВАРИЮ

.dashboard__section.scroll(ng-show='editCtrl.editable')
  div(ng-show='editCtrl.editable.is_confirmed')
    .gutter_bottom_half
      h3.form__caption.text_center Потерпевший
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.victim.full_name}}
      p
        b Марка авто:
        = ' '
        | {{editCtrl.editable.victim.car_brand}}
      p
        b Номер авто:
        = ' '
        | {{editCtrl.editable.victim.car_number}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.victim.phone}}

    .gutter_bottom_half
      h3.form__caption.text_center Виновник
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.culprit.full_name}}
      p
        b Марка авто:
        = ' '
        | {{editCtrl.editable.culprit.car_brand}}
      p
        b Номер авто:
        = ' '
        | {{editCtrl.editable.culprit.car_number}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.culprit.phone}}

    .gutter_bottom
      h3.form__caption.text_center Комиссар
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.commissar.name}}
      p
        b ID:
        = ' '
        | {{editCtrl.editable.commissar.id}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.commissar.phone}}

    .accidentForm.gutter_bottom.text_center(ng-if='editCtrl.editable.photos.length')
      h4 Документы:

      .accidentForm__documents
        .photoPreview(
          ng-repeat='photo in editCtrl.editable.photos track by $index'
          ng-click='editCtrl.openImage($index)'
          style='background-image: url(//i.imgsafe.org/{{photo}})'
        )

  form.form.gutter_bottom_half(
    name='editionForm'
    novalidate
    ng-hide='editCtrl.editable.is_confirmed'
  )
    .accidentForm
      h3.form__caption.text_center Потерпевший

      label(for='victimFullName')
        b ФИО:
      input.form__input(
        id='victimFullName'
        placeholder='Введите полное имя потерпевшего'
        ng-model='editCtrl.editable.victim.full_name'
        name='full_name'
      )
      label(for='victimCarBrand')
        b Марка авто:
      input.form__input(
        id='victimCarBrand'
        placeholder='Марка автомобиля'
        ng-model='editCtrl.editable.victim.car_brand'
        name='car_brand'
      )
      label(for='victimCarNumber')
        b Номер авто:
      input.form__input(
        id='victimCarNumber'
        placeholder='Номер автомобиля'
        ng-model='editCtrl.editable.victim.car_number'
        name='car_number'
      )
      label(for='victimPhone')
        b Телефон:
      input.form__input(
        id='victimPhone'
        placeholder='Телефон'
        ng-model='editCtrl.editable.victim.phone'
        name='phone'
      )

    .accidentForm
      h3.form__caption.text_center Виновник

      label(for='culpritFullName')
        b ФИО:
      input.form__input(
        id='culpritFullName'
        placeholder='Введите полное имя виновника'
        ng-model='editCtrl.editable.culprit.full_name'
        name='full_name'
      )
      label(for='culpritCarBrand')
        b Марка авто:
      input.form__input(
        id='culpritCarBrand'
        placeholder='Марка автомобиля'
        ng-model='editCtrl.editable.culprit.car_brand'
        name='car_brand'
      )
      label(for='culpritCarNumber')
        b Номер авто:
      input.form__input(
        id='culpritCarNumber'
        placeholder='Номер автомобиля'
        ng-model='editCtrl.editable.culprit.car_number'
        name='car_number'
      )
      label(for='culpritPhone')
        b Телефон:
      input.form__input(
        id='culpritPhone'
        placeholder='Телефон'
        ng-model='editCtrl.editable.culprit.phone'
        name='phone'
      )

    .accidentForm
      h3.form__caption.text_center Комиссар
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.commissar.name}}
      p
        b ID:
        = ' '
        | {{editCtrl.editable.commissar.id}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.commissar.phone}}

    .accidentForm.gutter_bottom.text_center
      h4 Документы:

      .accidentForm__documents
        .photoPreview(
          ng-repeat='photo in editCtrl.editable.photos track by $index'
        )
          .photoPreview__preview(
            ng-click='editCtrl.openImage($index)'
            style='background-image: url(//i.imgsafe.org/{{photo}})'
          )
          .button.button_grey.button_sm.photoPreview__removePhoto(ng-click='editCtrl.removeImage();') &times;

        label.photoPreview.photoPreview_addPhoto
          input(type='file' ngf-select="editCtrl.onFileSelect($files)" ng-hide='true')

    .row.text_center
      .col-md-5.offset-md-1.gutter_bottom_half
        button.button.button_grey.button_lg(
          ng-click='editCtrl.editAccident()'
          ng-disabled='editionForm.$pristine && !editCtrl.photosIsChanged'
        ) СОХРАНИТЬ
      .col-md-5
        button.button.button_lg(ng-click='editCtrl.sendAccident()') Отправить
