include /src/components/icon/icon

.dashboard__section(ng-show='editCtrl.editable')
  div(ng-show='editCtrl.editable.is_confirmed')
    .padding_bottom_half
      h3.form__caption.text_center Потерпевший
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.victim.full_name}}
      p
        b Марка авто:
        = ' '
        | {{editCtrl.editable.victim.car_brand}}
      p
        b Номер авто:
        = ' '
        | {{editCtrl.editable.victim.car_number}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.victim.phone}}

    .padding_bottom_half
      h3.form__caption.text_center Виновник
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.culprit.full_name}}
      p
        b Марка авто:
        = ' '
        | {{editCtrl.editable.culprit.car_brand}}
      p
        b Номер авто:
        = ' '
        | {{editCtrl.editable.culprit.car_number}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.culprit.phone}}

    .padding_bottom
      h3.form__caption.text_center Комиссар
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.commissar.name}}
      p
        b ID:
        = ' '
        | {{editCtrl.editable.commissar.id}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.commissar.phone}}

    .accidentForm.padding_bottom.text_center(ng-if='editCtrl.editable.photos.length')
      h4 Документы:

      .accidentForm__documents
        .photoPreview(
          ng-repeat='photo in editCtrl.editable.photos track by $index'
        )
          .photoPreview__preview(
            ng-click='editCtrl.openImage($index)'
            style='background-image: url(//i.imgsafe.org/{{photo}})'
          )

  form.form.padding_bottom_half(
    name='editCtrl.editionForm'
    novalidate
    ng-hide='editCtrl.editable.is_confirmed'
  )
    .accidentForm
      h3.form__caption.text_center Потерпевший

      .form__group.margin_bottom_half
        label.form__addon(for='victimFullName')
          +icon({icon: 'user'})
        input.form__input(
          id='victimFullName'
          ng-model='editCtrl.editable.victim.full_name'
          name='full_name'
          placeholder='Полное имя потерпевшего'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='victimCarBrand')
          +icon({icon: 'car-compact'})
        input.form__input(
          id='victimCarBrand'
          ng-model='editCtrl.editable.victim.car_brand'
          name='car_brand'
          placeholder='Марка автомобиля'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='victimCarNumber')
          +icon({icon: 'license-plate'})
        input.form__input(
          id='victimCarNumber'
          ng-model='editCtrl.editable.victim.car_number'
          name='car_number'
          placeholder='Номер автомобиля'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='victimPhone')
          +icon({icon: 'phone'})
        input.form__input(
          id='victimPhone'
          ng-model='editCtrl.editable.victim.phone'
          name='phone'
          placeholder='Телефон потерпевшего'
        )

    .accidentForm
      h3.form__caption.text_center Виновник
      .form__group.margin_bottom_half
        label.form__addon(for='culpritFullName')
          +icon({icon: 'user'})
        input.form__input(
          id='culpritFullName'
          ng-model='editCtrl.editable.culprit.full_name'
          name='full_name'
          placeholder='Полное имя виновника происшествия'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='culpritCarBrand')
          +icon({icon: 'car-compact'})
        input.form__input(
          id='culpritCarBrand'
          ng-model='editCtrl.editable.culprit.car_brand'
          name='car_brand'
          placeholder='Марка автомобиля'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='culpritCarNumber')
          +icon({icon: 'license-plate'})
        input.form__input(
          id='culpritCarNumber'
          ng-model='editCtrl.editable.culprit.car_number'
          name='car_number'
          placeholder='Номер автомобиля'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='culpritPhone')
          +icon({icon: 'phone'})
        input.form__input(
          id='culpritPhone'
          ng-model='editCtrl.editable.culprit.phone'
          name='phone'
          placeholder='Телефон виновника аварии'
        )
      //
      //label(for='culpritFullName')
      //  b ФИО:
      //input.form__input.margin_bottom_half(
      //  id='culpritFullName'
      //  placeholder='Введите полное имя виновника'
      //  ng-model='editCtrl.editable.culprit.full_name'
      //  name='full_name'
      //)
      //label(for='culpritCarBrand')
      //  b Марка авто:
      //input.form__input.margin_bottom_half(
      //  id='culpritCarBrand'
      //  placeholder='Марка автомобиля'
      //  ng-model='editCtrl.editable.culprit.car_brand'
      //  name='car_brand'
      //)
      //label(for='culpritCarNumber')
      //  b Номер авто:
      //input.form__input.margin_bottom_half(
      //  id='culpritCarNumber'
      //  placeholder='Номер автомобиля'
      //  ng-model='editCtrl.editable.culprit.car_number'
      //  name='car_number'
      //)
      //label(for='culpritPhone')
      //  b Телефон:
      //input.form__input.margin_bottom_half(
      //  id='culpritPhone'
      //  placeholder='Телефон'
      //  ng-model='editCtrl.editable.culprit.phone'
      //  name='phone'
      //)

    .accidentForm
      h3.form__caption.text_center Комиссар
      p
        b ФИО:
        = ' '
        | {{editCtrl.editable.commissar.name}}
      p
        b ID:
        = ' '
        | {{editCtrl.editable.commissar.id}}
      p
        b Телефон:
        = ' '
        | {{editCtrl.editable.commissar.phone}}

    .accidentForm.padding_bottom.text_center
      h4 Документы:

      .accidentForm__documents
        .photoPreview(
          ng-repeat='photo in editCtrl.editable.photos track by $index'
        )
          .photoPreview__preview(
            ng-click='editCtrl.openImage($index)'
            style='background-image: url(//i.imgsafe.org/{{photo}})'
          )
          .button.button_grey.button_sm.photoPreview__removePhoto(ng-click='editCtrl.removeImage($index);') &times;

        label.photoPreview.photoPreview_addPhoto
          input(type='file' ngf-select="editCtrl.onFileSelect($files)" ng-hide='true')

    .text_center.padding_bottom_half
      button.button.button_grey.button_lg(
        ng-click='editCtrl.saveAccident()'
        ng-hide='editCtrl.editionForm.$pristine'
      ) СОХРАНИТЬ
      button.button.button_lg(
        ng-show='editCtrl.editionForm.$pristine'
        ng-click='editCtrl.sendAccident()'
      ) Отправить
