header.main__header
    button.button.button_sm.flex__item_end(ui-sref='accidents.create') ДОБАВИТЬ АВАРИЮ

.main__right.text_center
    .form
        input.form__input(
            placeholder='Адрес'
            ng-model='editCtrl.editable.address'
            name='address'
        )
        input.form__input(
            placeholder='Телефон'
            ng-model='editCtrl.editable.phone'
            name='phone'
        )
        input.form__input(
            placeholder='Марка машины'
            ng-model='editCtrl.editable.carBrand'
            name='car_brand'
        )
        input.form__input(
            placeholder='Имя'
            ng-model='editCtrl.editable.name'
            name='name'
        )
        input.form__input(
            placeholder='Дата'
            ng-model='editCtrl.editable.date'
            name='date'
        )
        input.form__input(
            placeholder='Время'
            ng-model='editCtrl.editable.time'
            name='time'
        )
        input.form__input(
            placeholder='ID комиссара'
            ng-model='editCtrl.editable.commissar'
            name='commissar'
        )

        button.button.button_lg(ng-click='editCtrl.editAccident()') ОТПРАВИТЬ
