include /src/components/icon/icon
//header.dashboard__header
//  a.button.button_sm.margin_left_auto(ng-click='focusStyle = {"border": "1px solid #888"}') ДОБАВИТЬ АВАРИЮ

.dashboard__section.scroll(ng-controller='AccidentCreateCtrl as createCtrl' ng-style='focusStyle')
  form.form.padding_bottom_half(
    name='creationForm'
    novalidate
    ng-submit='createCtrl.submitted = true; creationForm.$valid && createCtrl.sendAccident()'
  )
    .leaflet__wrap(ng-if='listCtrl.map')
      leaflet(
        id='createAccidentMap'
        center='listCtrl.map.center'
        markers='listCtrl.map.markers'
        width='100%'
        height='280px'
      )
      .leaflet__maximizeBtn(ng-click='createCtrl.openMapModal(listCtrl.selectedCity.name, listCtrl.map)') &#8689;
    .padding_bottom_half

    input(ng-hide='true' ng-model='createCtrl.newAccident.latitude' name='latitude' required)
    ng-messages(for='creationForm.latitude.$error' ng-if='createCtrl.interacted(creationForm.latitude)')
      p.form__message.form__message_error(ng-message='required') Пометьте место аварии на карте


    .margin_bottom_half
      date-picker(selected='createCtrl.newAccident.date')

    .form__group.margin_bottom_half
      label.form__addon(for='address')
        +icon({icon: 'placeholder_fill'})
      input.form__input(
        id='address'
        ng-model='createCtrl.newAccident.address'
        uib-typeahead='address for address in createCtrl.getLocations($viewValue)'
        typeahead-popup-template-url='views/components/uib-typeahead/uib-typeahead.html'
        autocomplete='off'
        name='address'
        placeholder='Адрес'
        required
      )
    ng-messages(for='creationForm.address.$error' ng-if='createCtrl.interacted(creationForm.address)')
      p.form__message.form__message_error(ng-message='required') Укажите адрес аварии

    .form__group.margin_bottom_half
      label.form__addon(for='phone')
        +icon({icon: 'user'})
      input.form__input(
        id='phone'
        ng-model='createCtrl.newAccident.phone'
        name='phone'
        placeholder='Телефон'
      )

    .form__group.margin_bottom_half
      label.form__addon(for='car_brand')
        +icon({icon: 'car-compact'})
      input.form__input(
        id='car_brand'
        ng-model='createCtrl.newAccident.car_brand'
        name='car_brand'
        placeholder='Марка машины'
      )

    .form__group.margin_bottom_half
      label.form__addon(for='client_name')
        +icon({icon: 'user'})
      input.form__input(
        id='client_name'
        ng-model='createCtrl.newAccident.client_name'
        name='car_brand'
        placeholder='Имя'
      )

    .form__group.margin_bottom_half
      label.form__addon(for='commissar_id')
        +icon({icon: 'id-card'})
      input.form__input(
        id='commissar_id'
        ng-model='createCtrl.newAccident.commissar_id'
        name='commissar_id'
        placeholder='ID комиссара'
        required
        commissioner-validate
      )
    ng-messages(for='creationForm.commissar_id.$error' ng-if='createCtrl.interacted(creationForm.commissar_id)')
      p.form__message.form__message_error(ng-message='required') Укажите ID комиссара которому поступит заявка
      p.form__message.form__message_error(ng-message='existCommissioner') Комиссара с таким ID не существует

    .text_center
      button.button.button_lg Отправить
