//header.dashboard__header
//  a.button.button_sm.margin_left_auto(ng-click='focusStyle = {"border": "1px solid #888"}') ДОБАВИТЬ АВАРИЮ

.dashboard__section.scroll(ng-controller='AccidentCreateCtrl as createCtrl' ng-style='focusStyle')
  form.form.padding_bottom_half(
    name='creationForm'
    novalidate
    ng-submit='createCtrl.submitted = true; creationForm.$valid && createCtrl.sendAccident()'
  )
    .leaflet__wrap(ng-if='listCtrl.map')
      leaflet(
        id='createAccidentMap'
        center='listCtrl.map.center'
        markers='listCtrl.map.markers'
        width='100%'
        height='280px'
      )
      .leaflet__maximizeBtn(ng-click='createCtrl.openMapModal(listCtrl.selectedCity.name, listCtrl.map)') &#8689;
    .padding_bottom_half

    input(ng-hide='true' ng-model='createCtrl.newAccident.latitude' name='latitude' required)
    ng-messages(for='creationForm.latitude.$error' ng-if='createCtrl.interacted(creationForm.latitude)')
      p.form__message.form__message_error(ng-message='required') Пометьте место аварии на карте

    .accidentForm
      h3.form__caption.text_center Контакты

      .margin_bottom_half
        date-picker(selected='createCtrl.newAccident.date')

      input.form__input.margin_bottom_half(
        placeholder='Адрес'
        ng-model='createCtrl.newAccident.address'
        uib-typeahead='address for address in createCtrl.getLocations($viewValue)'
        typeahead-popup-template-url='views/assets/views/typehead.html'
        autocomplete='off'
        name='address'
        required
      )
      ng-messages(for='creationForm.address.$error' ng-if='createCtrl.interacted(creationForm.address)')
        p.form__message.form__message_error(ng-message='required') Укажите адрес аварии

      input.form__input.margin_bottom_half(
        placeholder='Телефон'
        ng-model='createCtrl.newAccident.phone'
        name='phone'
      )
      input.form__input.margin_bottom_half(
        placeholder='Марка машины'
        ng-model='createCtrl.newAccident.car_brand'
        name='car_brand'
      )
      input.form__input.margin_bottom_half(
        placeholder='Имя'
        ng-model='createCtrl.newAccident.client_name'
        name='name'
      )

      //input.form__input.margin_bottom_half(
      //  placeholder='Время'
      //  ng-model='createCtrl.newAccident.time'
      //  name='time'
      //)
      input.form__input.margin_bottom_half(
        placeholder='ID комиссара'
        ng-model='createCtrl.newAccident.commissar_id'
        name='commissar_id'
        required
        commissioner-validate
      )
      ng-messages(for='creationForm.commissar_id.$error' ng-if='createCtrl.interacted(creationForm.commissar_id)')
        p.form__message.form__message_error(ng-message='required') Укажите ID комиссара которому поступит заявка
        p.form__message.form__message_error(ng-message='existCommissioner') Комиссара с таким ID не существует

      .text_center
        button.button.button_lg ОТПРАВИТЬ
