header.dashboard__header
    h1.dashboard__caption Регистрация аварии

.dashboard__section.scroll(ng-controller='AccidentCreateCtrl as createCtrl')
    form.form.gutter_bottom_half(ng-submit='createCtrl.addAccident()')
        .gutter_bottom
            leaflet(
                id='createAccidentMap'
                ng-if='listCtrl.map'
                center='listCtrl.map.center'
                markers='listCtrl.map.markers'
                width='100%'
                height='280px'
            )

        .accidentForm
            h3.form__caption Контакты

            input.form__input(
                placeholder='Адрес'
                ng-model='createCtrl.newAccident.address'
                name='address'
            )
            input.form__input(
                placeholder='Телефон'
                ng-model='createCtrl.newAccident.phone'
                name='phone'
            )
            input.form__input(
                placeholder='Марка машины'
                ng-model='createCtrl.newAccident.car_brand'
                name='car_brand'
            )
            input.form__input(
                placeholder='Имя'
                ng-model='createCtrl.newAccident.client_name'
                name='name'
            )

            date-picker(selected='createCtrl.newAccident.date')

            input.form__input(
                placeholder='Время'
                ng-model='createCtrl.newAccident.time'
                name='time'
            )
            input.form__input(
                placeholder='ID комиссара'
                ng-model='createCtrl.newAccident.commissar_id'
                name='commissar'
            )

            .text_center
                button.button.button_lg ОТПРАВИТЬ
