section.sidebar(
  ng-controller='SidebarCtrl as sidebarCtrl'
  ng-class='{sidebar_minimize: sidebarCtrl.minimize, sidebar_maximize: !sidebarCtrl.minimize && sidebarCtrl.toggleInit}'
)
  header.sidebar__header
    h1.sidebar__caption Авар
      span.text_highlight Ком
    .sidebar__menuButton(ng-click='sidebarCtrl.toggleSidebar()')

  .sidebar__body
    .userInfo
      .userInfo__photo
      .userInfo__info
        h3.userInfo__name {{sidebarCtrl.userData.user_name}}
        div
          a.userInfo__link(ui-sref='cabinet') Редактировать
          a.userInfo__link(ui-sref='logout') Выйти

    .location
      .location__icon
      .location__select(
        dropdown-select='sidebarCtrl.userData.cities'
        dropdown-model='sidebarCtrl.selectedCity'
        dropdown-item-label='name'
        dropdown-onchange='sidebarCtrl.changeCity(selected)'
      )

    just-calendar.sidebar__calendar(locale='ru' on-update='sidebarCtrl.changeDate($event)')

    .menu
      a.menu__item(ui-sref='dashboard.accidents' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_car
        span.menu__text Аварии

      a.menu__item(ui-sref='dashboard.closed' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_check
        span.menu__text Завершенное
          = ' '
          .badge {{sidebarCtrl.closedCounter || 0}}

      a.menu__item(ui-sref='dashboard.statistics' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_chart
        span.menu__text Статистика


  .sidebar__body.sidebar__body_mini(ng-show='sidebarCtrl.minimize')
    .text_center
      .sidebar__icon.sidebar__icon_user(ui-sref='cabinet' ui-sref-active='sidebar__icon_user_active')
      .sidebar__icon.sidebar__icon_calendar(ng-click='sidebarCtrl.toggleSidebar()')

    .menu
      a.menu__item(ui-sref='dashboard.accidents' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_car

      a.menu__item(ui-sref='dashboard.closed' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_check

      a.menu__item(ui-sref='dashboard.statistics' ui-sref-active='menu__item_active')
        span.menu__icon.menu__icon_chart
