include /src/components/icon/icon

.datePicker(click-out='$ctrl.close()')
  .form__group.form__group_dropdown.datePicker__field(ng-click='$ctrl.toggle()')
    label.form__addon
      +icon({icon: 'calendar'})
    input.form__input(
      ng-value='$ctrl.selected.format("DD.MM.YYYY")'
      size='10'
      readonly
      onfocus='this.blur()'
    )

  just-calendar.datePicker__calendar(
    selected='$ctrl.selected'
    on-update='$ctrl.close(); $ctrl.onUpdate($event)'
    ng-show='$ctrl.isOpen'
  )
