include /src/components/icon/icon

.datePicker(click-out='$ctrl.isOpen = false')
  .form__group.form__group_dropdown.datePicker__field(ng-click='$ctrl.isOpen = !$ctrl.isOpen')
    label.form__addon
      +icon({icon: 'calendar'})
    input.form__input(
      ng-value='$ctrl.selected.format("DD.MM.YYYY")'
      size='8'
      readonly
      onfocus='this.blur()'
    )

  just-calendar.datePicker__calendar(
    selected='$ctrl.selected'
    on-update='$ctrl.isOpen = false; $ctrl.onUpdate($event)'
    ng-class='{datePicker__calendar_active: $ctrl.isOpen}'
  )
